:root {
	font-family: 'Open Sans', sans-serif;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	box-sizing: border-box;
	margin: 0;
}

.hero-background-image {
	background-image: url(./assets/pcgl-hero-banner.png);
	background-position: center;
	background-size: cover;
	justify-content: center;
}
