# Deny All
*

# Allow select paths
!apps/*
!packages/*
!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!tsconfig.base.json
!tsconfig.json
!nx.json

# Ignore hidden files from sub-directories
**/.*

# Ignore test folders
**/test/

# Ignore nested node_modules
**/node_modules/
