# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# dotenv environment variable files
.env*

# Logs
npm-debug.log*
pnpm-debug.log*

# System
.DS_Store

# Dependencies, Env & Build
node_modules
dist
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
