name: DACO-Services

services:
  daco-postgres:
    container_name: daco.api.db
    image: postgres:15-alpine
    ports:
      - 5432:5432
    volumes:
      - daco-api-db:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: mypassword
  daco-valkey:
    container_name: daco.valkey
    image: valkey/valkey:8-alpine
    command: valkey-server --requirepass valkeypass
    ports:
      - '6379:6379'
    volumes:
      - 'valkey:/bitnami/valkey/data'
  daco-mailhog:
    container_name: daco.mailhog
    # Using this image over mailhog/mailhog due to incompatibility with apple silicon chips
    # This is the same image used in OHCRN
    image: docker.io/jcalonso/mailhog:latest
    ports:
      - '1025:1025'
      - '8025:8025'
  clinical-submission:
    image: ghcr.io/pan-canadian-genome-library/clinical-submission:edge
    container_name: clinical.submission
    depends_on:
      - clinical-postgres # ensure that the database is ready before starting the service
      - dictionary-manager-mongo
      - dictionary-manager
    ports:
      - '3030:3030'
    env_file:
      - ./apps/api/.env.clinical
    volumes:
      - 'clinical-submission:/clinical-submission/data'
  clinical-postgres:
    container_name: clinical.api.postgres
    image: postgres:15-alpine
    ports:
      - 5433:5432
    volumes:
      - submission_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=secret
      - POSTGRES_USER=postgres
      - POSTGRES_DB=submission
  dictionary-manager-mongo:
    container_name: dictionary-manager.api.db
    image: bitnami/mongodb:latest
    ports:
      - 27017:27017
    volumes:
      - mongodb_data:/bitnami
    environment:
      MONGODB_USERNAME: admin
      MONGODB_PASSWORD: password
      MONGODB_DATABASE: dictionary-manager
      MONGODB_ROOT_PASSWORD: password123
  dictionary-manager:
    container_name: dictionary-manager.service
    image: ghcr.io/pan-canadian-genome-library/dictionary-manager:edge
    ports:
      - 3000:3000
    environment:
      MONGO_HOST: dictionary-manager-mongo
      MONGO_PORT: 27017
      MONGO_DB: dictionary-manager
      MONGO_USER: admin
      MONGO_PASS: password

volumes:
  daco-api-db:
    name: daco-api-db
    driver: local
  valkey:
    name: daco-api-valkey
    driver: local
  clinical-submission:
    name: clinical-submission
    driver: local
  submission_data:
    name: submission-postgres-data
    driver: local
  mongodb_data:
    name: dictionary-manager-mongo-data
    driver: local
