server {
 listen 3000 default_server;
 root   /usr/share/nginx/html;
 index  index.html;
 etag   on;

 location /api/ {
   rewrite /api/(.*) /$1  break;
   proxy_pass $API_URL;
   proxy_redirect off;
   proxy_buffering off;
 
   # Proxy information for backend
   proxy_set_header X-Real-IP $remote_addr;
   proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
 }

 location / {
  try_files $uri $uri/ /index.html;
 }

 error_page   500 502 503 504  /50x.html;
 location = /50x.html {
  root   /usr/share/nginx/html;
 }
}